@font-face {
  font-family: hacker;
  src: url(fonts/HACKED.ttf);
}

h1{
  text-align: center;
  font-family: hacker;
}

h2{
  font-family: hacker;
}

button{
  font-family: hacker;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
}

#computer{
  margin:auto;
  width:50%;
}

#comp{
  position:relative;
  width:500px;
  height:500px;
  overflow: hidden;
}

#compScreen{
  position:absolute;
  width:375px;
  height:247px;
  background-color: black;
  left:428px;
  top:110px;
  border-radius:5%;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
